---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: dragonflydbs.dragonflydb.io
spec:
  group: dragonflydb.io
  names:
    kind: DragonflyDb
    listKind: DragonflyDbList
    plural: dragonflydbs
    singular: dragonflydb
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DragonflyDb is the Schema for the dragonflydbs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DragonflyDbSpec defines the desired state of DragonflyDb
            properties:
              foo:
                description: Foo is an example field of DragonflyDb. Edit dragonflydb_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: DragonflyDbStatus defines the observed state of DragonflyDb
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
